; This file should be renamed to db.ini
; and placed in /etc/referencelist
; Change the values so they are correct
; db.ini must be set to root:root with 640 permission
[database]
hostname=
dbname=
username=
password=

[config]
Categories=Categories;
SubCategories=SubCategories;
